In [1]:
import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from matplotlib.ticker import PercentFormatter
from plotnine import *
from sklearn.linear_model import LinearRegression
from scipy import signal
from statsmodels.tsa.seasonal import seasonal_decompose, STL

C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (
C:\Users\Jish\AppData\Local\Temp\ipykernel_42140\1519481153.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\Jish\\Documents\\DRiV\\Files\\Elasticity\\AMER\\Monroe'

In [3]:
df=pd.read_csv('Strut_Assemblies_Python.csv')
df.head()

,LC,Part/Sku,Year,Month_Num,Month,Sales,Qty,Price,Inflation,AutoPartSales,ConsumerConfidence,Income,Production,RepairPrice,PartsPrice,MilesDriven
0,2a,139104,2019,1,January,120519.96010,869,138.688101,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0
1,2a,139105,2019,1,January,167227.80010,1186,141.001518,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0
2,1a,139112,2019,1,January,22852.63004,136,168.034044,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0
3,2a,171100,2019,1,January,18465.60999,137,134.785474,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0
4,2b,171101L,2019,1,January,12431.65002,93,133.673656,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0

In [4]:
df.dtypes

LC                     object
Part/Sku               object
Year                    int64
Month_Num               int64
Month                  object
Sales                 float64
Qty                     int64
Price                 float64
Inflation             float64
AutoPartSales         float64
ConsumerConfidence    float64
Income                float64
Production            float64
RepairPrice           float64
PartsPrice            float64
MilesDriven           float64
dtype: object

In [5]:
df['Day'] = "1"
df['Year']=df['Year'].astype(str)
df['Month_Num']=df['Month_Num'].astype(str)
# df['Month1']=df['Month_Num']
# df['Year_Month']=pd.to_datetime(df[["Year", "Month", "Day"]])
df['Year_Month']=pd.to_datetime(df.Year+df.Month_Num+df.Day, format="%Y%m%d")
df.rename(columns={'Price':'Price'}, inplace=True)
df.rename(columns={'Units':'Qty'}, inplace=True)
df.rename(columns={'Part/Sku':'Material'}, inplace=True)

In [6]:
df.dtypes

LC                            object
Material                      object
Year                          object
Month_Num                     object
Month                         object
Sales                        float64
Qty                            int64
Price                        float64
Inflation                    float64
AutoPartSales                float64
ConsumerConfidence           float64
Income                       float64
Production                   float64
RepairPrice                  float64
PartsPrice                   float64
MilesDriven                  float64
Day                           object
Year_Month            datetime64[ns]
dtype: object

In [7]:
df.head()

,LC,Material,Year,Month_Num,Month,Sales,Qty,Price,Inflation,AutoPartSales,ConsumerConfidence,Income,Production,RepairPrice,PartsPrice,MilesDriven,Day,Year_Month
0,2a,139104,2019,1,January,120519.96010,869,138.688101,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
1,2a,139105,2019,1,January,167227.80010,1186,141.001518,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
2,1a,139112,2019,1,January,22852.63004,136,168.034044,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
3,2a,171100,2019,1,January,18465.60999,137,134.785474,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
4,2b,171101L,2019,1,January,12431.65002,93,133.673656,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01

In [8]:
df.isna().sum()

LC                       0
Material                 0
Year                     0
Month_Num                0
Month                    0
Sales                    0
Qty                      0
Price                    0
Inflation              962
AutoPartSales         1958
ConsumerConfidence    1958
Income                1958
Production             962
RepairPrice            962
PartsPrice             962
MilesDriven           1958
Day                      0
Year_Month               0
dtype: int64

In [9]:
df=df.dropna(axis=0, subset=('Price', ))

In [10]:
# df['Price'] = df['Price'].astype(float)

In [11]:
df.head()

,LC,Material,Year,Month_Num,Month,Sales,Qty,Price,Inflation,AutoPartSales,ConsumerConfidence,Income,Production,RepairPrice,PartsPrice,MilesDriven,Day,Year_Month
0,2a,139104,2019,1,January,120519.96010,869,138.688101,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
1,2a,139105,2019,1,January,167227.80010,1186,141.001518,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
2,1a,139112,2019,1,January,22852.63004,136,168.034044,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
3,2a,171100,2019,1,January,18465.60999,137,134.785474,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
4,2b,171101L,2019,1,January,12431.65002,93,133.673656,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01

In [12]:
# # Choose the top 80 SKU's
# df=df[df['SKU Tag']=='Top 80%']

In [13]:
df.head()

,LC,Material,Year,Month_Num,Month,Sales,Qty,Price,Inflation,AutoPartSales,ConsumerConfidence,Income,Production,RepairPrice,PartsPrice,MilesDriven,Day,Year_Month
0,2a,139104,2019,1,January,120519.96010,869,138.688101,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
1,2a,139105,2019,1,January,167227.80010,1186,141.001518,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
2,1a,139112,2019,1,January,22852.63004,136,168.034044,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
3,2a,171100,2019,1,January,18465.60999,137,134.785474,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01
4,2b,171101L,2019,1,January,12431.65002,93,133.673656,1.6,7088.0,121.7,1335.65,95.38,290.76,145.59,246517.0,1,2019-01-01

In [14]:
# #Check values in different PH2
# category = df['PH2'].value_counts()
# print("PH2 Category Percentage\n{}\n{}\n PH2 Category values count\n{}\n{}".format(
#       50*"-", (category / len(df.index))[:5] * 100, 50*"-", category[:5]))

In [15]:
#Check values in different Life Cycle
LC = df['LC'].value_counts()
print("LC Percentage\n{}\n{}\n LC values count\n{}\n{}".format(
      50*"-", (LC / len(df.index))[:5] * 100, 50*"-", LC[:5]))

LC Percentage
--------------------------------------------------
LC
2a    35.781293
2b    27.818909
1b    26.680769
3a     6.759864
1a     2.101536
Name: count, dtype: float64
 LC values count
--------------------------------------------------
LC
2a    15562
2b    12099
1b    11604
3a     2940
1a      914
Name: count, dtype: int64

## Without Exclusion of Data

In [16]:
#Aggregate the data
df_sku = df.groupby(['Year_Month','Material']).agg({'Price':'mean','Qty': 'mean' }).reset_index()
# df_sku=df_sku[(df_sku.Year_Month<'2022-10-01') & (df_sku.Year_Month>='2020-07-01')]
df_sku.head()

  Year_Month Material       Price     Qty
0 2019-01-01   139104  138.688101   869.0
1 2019-01-01   139105  141.001518  1186.0
2 2019-01-01   139112  168.034044   136.0
3 2019-01-01   171100  134.785474   137.0
4 2019-01-01  171101L  133.673656    93.0

In [17]:
## Data Prep using pivot
x_pivot = df_sku.pivot(index= 'Year_Month' ,columns='Material' ,values='Price')
x_values = pd.DataFrame(x_pivot.to_records())
print(x_values)

   Year_Month      139104      139105      139112      153005      153006  \
0  2019-01-01  138.688101  141.001518  168.034044         NaN         NaN
1  2019-02-01  138.752441  142.354654  157.481439         NaN         NaN
2  2019-03-01  137.568685  142.320914  164.305519         NaN         NaN
3  2019-04-01  138.756058  135.921729  166.755099         NaN         NaN
4  2019-05-01  144.800845  139.572454  165.229258         NaN         NaN
5  2019-06-01  141.479529  139.980740  161.159348         NaN         NaN
6  2019-07-01  142.562061  138.890610  168.810277         NaN         NaN
7  2019-08-01  139.262229  140.352770  170.638148         NaN         NaN
8  2019-09-01  140.016344  139.138985  180.424418         NaN         NaN
9  2019-10-01  139.932289  139.638594  175.512297         NaN         NaN
10 2019-11-01  139.524665  142.774343  168.313702         NaN         NaN
11 2019-12-01  145.273315  147.781289  182.764571         NaN         NaN
12 2020-01-01  142.452805  147.421972  182.983505         NaN         NaN
13 2020-02-01  144.149048  151.156228  182.192915         NaN         NaN
14 2020-03-01  147.490114  148.462288  179.501038         NaN         NaN
15 2020-04-01  146.953276  148.597983  182.686158         NaN         NaN
16 2020-05-01  149.295570  149.199502  203.486895         NaN         NaN
17 2020-06-01  149.281114  151.389669  183.425136         NaN         NaN
18 2020-07-01  149.785545  151.861215  184.258127         NaN         NaN
19 2020-08-01  149.568290  150.105055  198.132527         NaN         NaN
20 2020-09-01  148.609517  151.696450  181.614207         NaN         NaN
21 2020-10-01  149.452918  153.165905  182.880338         NaN         NaN
22 2020-11-01  154.155722  148.902558  182.847310         NaN         NaN
23 2020-12-01  147.729607  151.701751  180.583941         NaN         NaN
24 2021-01-01  148.975587  147.036176  188.235200         NaN         NaN
25 2021-02-01  153.985476  151.198065  183.463258         NaN         NaN
26 2021-03-01  150.648064  151.984834  181.799543         NaN         NaN
27 2021-04-01  153.636956  151.208518  182.650993         NaN         NaN
28 2021-05-01  150.436675  151.658361  184.446471         NaN         NaN
29 2021-06-01  149.021081  151.483330  185.327871         NaN         NaN
30 2021-07-01  151.016177  151.489272  187.985662         NaN         NaN
31 2021-08-01  147.105773  150.136674  186.719320         NaN         NaN
32 2021-09-01  159.144978  154.317139  204.505298         NaN         NaN
33 2021-10-01  158.085526  152.199281  223.677956         NaN         NaN
34 2021-11-01  163.684745  155.806912  205.202323  265.200000  265.200000
35 2021-12-01  168.629803  157.030782  209.029922  201.000000  230.380000
36 2022-01-01  165.680939  155.884114  230.654277  238.648750  224.566667
37 2022-02-01  166.437053  159.272829  223.493240  225.842857  227.345714
38 2022-03-01  167.288021  154.418735  225.842500  235.838125  256.840833
39 2022-04-01  159.435066  154.447833  222.435730  247.980714  253.384286
40 2022-05-01  155.374682  142.914131  229.020190  233.775714  244.527187
41 2022-06-01  155.546778  142.044058  229.918194  249.452692  259.820909
42 2022-07-01  153.713322  144.900613  228.811366  222.182903  229.834444
43 2022-08-01  149.019327  146.933378  254.698495  238.956923  237.419697
44 2022-09-01  143.951778  144.041445  218.719792  249.130270  267.889500

        153026      153027      153028      153029  ...      572665  \
0          NaN         NaN         NaN         NaN  ...  164.828695
1          NaN         NaN         NaN         NaN  ...  157.230324
2   205.760002  162.520000         NaN         NaN  ...  161.279514
3   191.883333  160.254375  158.884286  173.140000  ...  148.326099
4   209.829999  154.839678  155.050000  208.908334  ...  155.572937
5   213.088571  156.808049  201.428749  152.180000  ...  156.145889
6   198.343889  168.983793  175.776000  177.645000  ...  155.063333
7   209.987691  184.679571  198.131250  173.685556  ...  165.369524
8   203.122050  164.070477  192.287201  155.600000  ...  152.436847
9   212.603404  165.254418  192.770541  163.547500  ...  162.121840
10  217.978234  160.466000  177.561034  189.575833  ...  156.903763
11  264.891248  169.834285  208.799999  204.450002  ...  149.194960
12  239.931053  172.193999  187.953846  196.625000  ...  155.899563
13  196.230740  176.237058  192.407778  202.638572  ...  155.314642
14  228.092800  169.602726  167.829474  201.695000  ...  152.012271
15  236.486251  181.934544  195.481112  167.570000  ...  150.951277
16  233.027647  167.950587  204.786450  191.500000  ...  163.252803
17  245.850834  180.359250  200.070000  189.210000  ...  152.577661
18  216.716087  180.942414  204.399355  211.800000  ...  161.043424
19  235.788072  175.664521  200.846562  207.525559  ...  159.432636
20  252.316867  171.240303  198.926774  165.885000  ...  159.430080
21  217.032537  199.347708  196.847097  241.436667  ...  152.351005
22  222.641915  195.198837  201.321111  196.866667  ...  161.358862
23  218.353721  200.092307  214.294232  216.717499  ...  154.715847
24  253.586155  224.093846  254.263078  232.005002  ...  159.266624
25  237.070870  219.677498  224.341999  232.534000  ...  162.636731
26  260.365334  227.482592  216.992381  195.278000  ...  159.533011
27  252.612641  216.647674  239.432801  217.735000  ...  158.620232
28  254.379391  204.196719  249.966250  219.887500  ...  156.818492
29  250.562000  214.068696  229.946897  186.697143  ...  161.102474
30  249.062031  222.353182  239.952692  196.583333  ...  168.350056
31  263.796707  225.318679  254.273954  252.815000  ...  170.981883
32  268.743462  273.803636  243.624667  267.980000  ...  179.898406
33  277.065349  260.350980  228.823513  228.016667  ...  166.970052
34  292.309193  260.271379  245.148461  257.550000  ...  181.135833
35  310.076667  279.941667  269.151200         NaN  ...  172.954561
36  277.323962  650.059744  265.360833  264.960909  ...  172.970234
37  300.247077  265.500000  257.128333  257.450000  ...  175.496310
38  286.192154  224.751111  209.531522  169.070000  ...  178.172370
39  251.451707  209.152368  231.824039  193.200000  ...  184.183628
40  242.956622  181.545062  224.042000  229.140000  ...  171.551333
41  222.232653  188.983375  203.071970  202.140000  ...  175.960722
42  212.757884  178.331121  220.290000  209.612500  ...  173.766212
43  214.033226  177.487302  213.054154  227.926000  ...  166.213140
44  231.568644  171.831389  215.734872  241.736667  ...  176.999669

        572888      572889      582665  671377L  671377R      672526  \
0          NaN         NaN         NaN  179.000  179.000  162.440000
1          NaN         NaN         NaN      NaN      NaN  178.755910
2   109.750000  109.750000         NaN  140.000  140.000  160.082223
3   147.033330  147.707497         NaN  134.990  134.990  172.077318
4   141.444285  140.611818         NaN  132.000  132.000  164.691225
5   156.169997  149.149998         NaN  155.890  155.890  165.803877
6   137.633333  137.633333         NaN      NaN      NaN  172.520000
7   139.058333  139.108462         NaN      NaN      NaN  160.565601
8   149.260555  149.260555         NaN      NaN      NaN  162.013913
9   150.862143  149.830000         NaN   95.380   95.380  165.738334
10  158.971112  155.757000         NaN  108.520  108.520  161.078055
11  150.166153  148.966363         NaN  153.010  153.010  185.542174
12  153.332857  156.581249         NaN      NaN      NaN  168.858148
13  164.304546  166.445001   92.155000  178.990  178.990  179.621142
14  145.901112  144.278572  169.000000      NaN      NaN  183.206207
15  146.082855  149.202857   99.282500  156.180  156.180  171.354000
16  154.199999  159.166363  114.398000      NaN      NaN  185.804359
17  149.904117  151.790000   93.491538  123.645  123.645  181.882759
18  163.111428  172.290770  109.846667      NaN      NaN  180.670000
19  148.854998  148.092498  103.461429  112.290  112.290  167.846858
20  157.463078  160.429287  104.791667      NaN      NaN  178.969999
21  158.215218  156.143334  103.077143      NaN      NaN  187.852857
22  147.713636  147.034166  111.219565      NaN      NaN  169.119375
23  163.476000  163.476000  141.165000      NaN      NaN  174.141428
24  165.859999  165.859999  110.090714  112.290  112.290  183.633752
25  160.728997  162.697775  114.304516  159.990  159.990  190.375455
26  158.452499  160.166249  106.234286      NaN      NaN  188.090883
27  169.676500  166.685789   99.631304  145.770  145.770  195.723685
28  155.391111  156.505263  114.101111  125.675  125.675  192.112000
29  181.753529  183.499375  110.046000      NaN      NaN  195.805454
30  164.673333  160.606522  108.451765  150.770  150.770  190.866000
31  176.817895  176.842105   97.785714      NaN      NaN  186.635000
32  194.591429  190.283333  112.494667      NaN      NaN  216.357692
33  188.933333  189.143571  109.147895  175.995  175.995  185.384000
34  184.956667  186.780000  101.990000      NaN      NaN  233.502500
35  183.645454  185.477000  116.756667      NaN      NaN  195.390000
36  198.667857  195.169091  116.438235      NaN      NaN  198.592500
37  202.450000  202.450000  115.026956      NaN      NaN  211.292222
38  207.831000  197.295000  121.941667      NaN      NaN  241.811111
39  210.746429  211.213077  140.372941      NaN      NaN  203.574737
40  203.772500  200.653846  109.750000      NaN      NaN  186.325556
41  206.981429  203.180000  149.270000      NaN      NaN  180.180000
42  197.326190  198.943000  134.990000      NaN      NaN  173.892308
43  191.917895  198.537222  135.263333      NaN      NaN  157.563333
44  204.248333  202.837692  110.685000      NaN      NaN  172.807273

        672527      672665      772665
0   163.611852   95.129464         NaN
1   179.375001   96.027392         NaN
2   163.680001   95.770592         NaN
3   167.825527  100.736947         NaN
4   171.296038   98.012380         NaN
5   165.767368  101.656861         NaN
6   174.030000  101.500367         NaN
7   162.813112  102.367852         NaN
8   161.062826  107.080520         NaN
9   165.113784  102.060428         NaN
10  163.641428  103.710994  163.754997
11  186.401819  102.646992  145.559998
12  166.237931  106.687881  169.482757
13  180.788666  106.937041  165.165555
14  181.081875  107.625638  164.536799
15  168.070476  110.703420  161.161794
16  185.740001  108.717817  160.458303
17  183.281562  114.179029  166.670467
18  174.965416  111.051928  160.551594
19  163.986774  107.491447  157.315865
20  177.006999  106.414750  155.154202
21  187.554858  108.435026  152.933333
22  165.615000  106.450385  156.632340
23  175.094090  107.909551  162.401342
24  181.515556  109.627602  178.083810
25  192.280000  107.331497  172.895587
26  189.272286  106.176247  167.313670
27  194.499130  110.269162  172.710207
28  192.021297  109.089662  177.567459
29  200.269474  106.504372  173.362119
30  191.414595  110.007719  177.761719
31  194.080909  116.689063  177.334191
32  217.332143  123.992727  190.320610
33  188.860588  127.629310  186.984144
34  234.550000  126.064167  194.191316
35  195.390000  124.870824  197.602961
36  208.938000  127.179788  191.643109
37  204.988182  130.274244  184.807604
38  231.570000  130.590216  195.084473
39  204.978750  132.549003  201.325547
40  179.018462  150.823878  200.474942
41  186.079500  152.387013  194.838671
42  174.081739  147.653669  191.035720
43  167.730769  154.317910  185.892719
44  173.820833  155.760568  183.050154

[45 rows x 1067 columns]

In [18]:
percent_missing_x = x_values.isnull().sum() * 100 / len(x_values)
missing_value_df_x = pd.DataFrame({'column_name': x_values.columns,
                                 'percent_missing': percent_missing_x})
missing_value_df_x.sort_values(by=['percent_missing'])

           column_name  percent_missing
Year_Month  Year_Month         0.000000
172780L        172780L         0.000000
172780R        172780R         0.000000
172781          172781         0.000000
172782          172782         0.000000
...                ...              ...
172755          172755        77.777778
281525          281525        80.000000
253006          253006        80.000000
272413          272413        84.444444
181339          181339        97.777778

[1067 rows x 2 columns]

In [19]:
mod_missing_value_df_x=missing_value_df_x[missing_value_df_x.percent_missing<=20]
mod_missing_value_df_x

           column_name  percent_missing
Year_Month  Year_Month         0.000000
139104          139104         0.000000
139105          139105         0.000000
139112          139112         0.000000
153026          153026         4.444444
...                ...              ...
572888          572888         4.444444
572889          572889         4.444444
672526          672526         0.000000
672527          672527         0.000000
672665          672665         0.000000

[870 rows x 2 columns]

In [20]:
mod_missing_value_df_x=mod_missing_value_df_x.reset_index(drop=True)
mod_missing_value_df_x['column_name']

0      Year_Month
1          139104
2          139105
3          139112
4          153026
          ...
865        572888
866        572889
867        672526
868        672527
869        672665
Name: column_name, Length: 870, dtype: object

In [21]:
x_values_mod = x_values[x_values.columns[x_values.columns.isin(mod_missing_value_df_x['column_name'].astype('str'))]]
x_values_mod

,Year_Month,139104,139105,139112,153026,153027,153028,153029,153030,153031,...,571377L,571377R,572526,572527,572665,572888,572889,672526,672527,672665
0,2019-01-01,138.688101,141.001518,168.034044,NaN,NaN,NaN,NaN,NaN,NaN,...,176.028077,172.759583,173.362174,169.773809,164.828695,NaN,NaN,162.440000,163.611852,95.129464
1,2019-02-01,138.752441,142.354654,157.481439,NaN,NaN,NaN,NaN,NaN,NaN,...,170.154791,171.031738,169.454212,164.307334,157.230324,NaN,NaN,178.755910,179.375001,96.027392
2,2019-03-01,137.568685,142.320914,164.305519,205.760002,162.520000,NaN,NaN,212.669999,169.420000,...,172.190921,170.364147,160.260303,155.961875,161.279514,109.750000,109.750000,160.082223,163.680001,95.770592
3,2019-04-01,138.756058,135.921729,166.755099,191.883333,160.254375,158.884286,173.140000,189.434442,159.907000,...,169.245157,167.790309,172.593530,173.122354,148.326099,147.033330,147.707497,172.077318,167.825527,100.736947
4,2019-05-01,144.800845,139.572454,165.229258,209.829999,154.839678,155.050000,208.908334,201.884999,148.910000,...,174.207762,173.333530,157.856155,156.988001,155.572937,141.444285,140.611818,164.691225,171.296038,98.012380
5,2019-06-01,141.479529,139.980740,161.159348,213.088571,156.808049,201.428749,152.180000,183.666296,177.358886,...,180.543734,182.673334,154.135405,154.858125,156.145889,156.169997,149.149998,165.803877,165.767368,101.656861
6,2019-07-01,142.562061,138.890610,168.810277,198.343889,168.983793,175.776000,177.645000,186.515265,182.105000,...,171.190294,171.519079,176.863666,173.530356,155.063333,137.633333,137.633333,172.520000,174.030000,101.500367
7,2019-08-01,139.262229,140.352770,170.638148,209.987691,184.679571,198.131250,173.685556,172.369047,175.593846,...,171.973290,170.174935,173.480001,172.747693,165.369524,139.058333,139.108462,160.565601,162.813112,102.367852
8,2019-09-01,140.016344,139.138985,180.424418,203.122050,164.070477,192.287201,155.600000,222.637334,170.695000,...,170.880588,172.776923,165.998685,167.817251,152.436847,149.260555,149.260555,162.013913,161.062826,107.080520
9,2019-10-01,139.932289,139.638594,175.512297,212.603404,165.254418,192.770541,163.547500,220.228331,164.074285,...,169.107619,163.847846,163.090810,168.483250,162.121840,150.862143,149.830000,165.738334,165.113784,102.060428
10,2019-11-01,139.524665,142.774343,168.313702,217.978234,160.466000,177.561034,189.575833,178.591579,203.475293,...,172.202581,171.888413,166.691390,167.260303,156.903763,158.971112,155.757000,161.078055,163.641428,103.710994
11,2019-12-01,145.273315,147.781289,182.764571,264.891248,169.834285,208.799999,204.450002,165.664286,186.414286,...,167.713115,168.473728,182.911251,181.249475,149.194960,150.166153,148.966363,185.542174,186.401819,102.646992
12,2020-01-01,142.452805,147.421972,182.983505,239.931053,172.193999,187.953846,196.625000,199.957500,191.386670,...,172.493601,171.971875,195.849377,196.334286,155.899563,153.332857,156.581249,168.858148,166.237931,106.687881
13,2020-02-01,144.149048,151.156228,182.192915,196.230740,176.237058,192.407778,202.638572,184.885556,170.454444,...,159.296715,161.029459,177.950477,177.697858,155.314642,164.304546,166.445001,179.621142,180.788666,106.937041
14,2020-03-01,147.490114,148.462288,179.501038,228.092800,169.602726,167.829474,201.695000,205.955001,179.345714,...,166.518037,166.258333,184.320001,188.855456,152.012271,145.901112,144.278572,183.206207,181.081875,107.625638
15,2020-04-01,146.953276,148.597983,182.686158,236.486251,181.934544,195.481112,167.570000,187.654784,173.190000,...,169.508149,164.814399,183.346002,179.890590,150.951277,146.082855,149.202857,171.354000,168.070476,110.703420
16,2020-05-01,149.295570,149.199502,203.486895,233.027647,167.950587,204.786450,191.500000,187.973226,180.122353,...,166.141945,166.053802,183.501669,182.920771,163.252803,154.199999,159.166363,185.804359,185.740001,108.717817
17,2020-06-01,149.281114,151.389669,183.425136,245.850834,180.359250,200.070000,189.210000,186.629070,182.533750,...,167.684269,167.005823,179.813668,180.490001,152.577661,149.904117,151.790000,181.882759,183.281562,114.179029
18,2020-07-01,149.785545,151.861215,184.258127,216.716087,180.942414,204.399355,211.800000,221.306954,205.055999,...,159.823651,159.085230,179.146668,173.196155,161.043424,163.111428,172.290770,180.670000,174.965416,111.051928
19,2020-08-01,149.568290,150.105055,198.132527,235.788072,175.664521,200.846562,207.525559,200.412307,192.844782,...,162.284588,165.213124,192.486113,197.682409,159.432636,148.854998,148.092498,167.846858,163.986774,107.491447
20,2020-09-01,148.609517,151.696450,181.614207,252.316867,171.240303,198.926774,165.885000,193.050882,185.431199,...,160.062069,159.654483,192.497181,191.206945,159.430080,157.463078,160.429287,178.969999,177.006999,106.414750
21,2020-10-01,149.452918,153.165905,182.880338,217.032537,199.347708,196.847097,241.436667,206.662975,207.316469,...,158.311264,158.469545,191.370387,189.689357,152.351005,158.215218,156.143334,187.852857,187.554858,108.435026
22,2020-11-01,154.155722,148.902558,182.847310,222.641915,195.198837,201.321111,196.866667,218.178947,178.844547,...,168.612553,170.986250,196.287918,194.688334,161.358862,147.713636,147.034166,169.119375,165.615000,106.450385
23,2020-12-01,147.729607,151.701751,180.583941,218.353721,200.092307,214.294232,216.717499,196.762001,176.058276,...,166.227179,165.142307,193.340858,196.653591,154.715847,163.476000,163.476000,174.141428,175.094090,107.909551
24,2021-01-01,148.975587,147.036176,188.235200,253.586155,224.093846,254.263078,232.005002,219.636876,203.886088,...,165.736956,169.426744,194.722163,192.196217,159.266624,165.859999,165.859999,183.633752,181.515556,109.627602
25,2021-02-01,153.985476,151.198065,183.463258,237.070870,219.677498,224.341999,232.534000,216.042001,223.978501,...,227.321296,230.835769,189.791668,190.528712,162.636731,160.728997,162.697775,190.375455,192.280000,107.331497
26,2021-03-01,150.648064,151.984834,181.799543,260.365334,227.482592,216.992381,195.278000,250.904687,236.283478,...,177.760147,179.948358,186.462038,181.408984,159.533011,158.452499,160.166249,188.090883,189.272286,106.176247
27,2021-04-01,153.636956,151.208518,182.650993,252.612641,216.647674,239.432801,217.735000,232.014001,237.856999,...,183.621798,183.439196,179.896395,180.191291,158.620232,169.676500,166.685789,195.723685,194.499130,110.269162
28,2021-05-01,150.436675,151.658361,184.446471,254.379391,204.196719,249.966250,219.887500,237.728519,204.736087,...,183.269231,181.751918,191.171739,178.121667,156.818492,155.391111,156.505263,192.112000,192.021297,109.089662
29,2021-06-01,149.021081,151.483330,185.327871,250.562000,214.068696,229.946897,186.697143,220.730323,198.017500,...,166.022340,168.184510,193.147800,192.886250,161.102474,181.753529,183.499375,195.805454,200.269474,106.504372
30,2021-07-01,151.016177,151.489272,187.985662,249.062031,222.353182,239.952692,196.583333,222.414286,229.678333,...,190.674210,190.911177,184.314308,186.657581,168.350056,164.673333,160.606522,190.866000,191.414595,110.007719
31,2021-08-01,147.105773,150.136674,186.719320,263.796707,225.318679,254.273954,252.815000,242.924815,233.485806,...,192.454909,192.718000,177.189778,177.161333,170.981883,176.817895,176.842105,186.635000,194.080909,116.689063
32,2021-09-01,159.144978,154.317139,204.505298,268.743462,273.803636,243.624667,267.980000,267.928235,238.460000,...,201.757143,204.468333,176.553333,177.369333,179.898406,194.591429,190.283333,216.357692,217.332143,123.992727
33,2021-10-01,158.085526,152.199281,223.677956,277.065349,260.350980,228.823513,228.016667,275.181538,248.505455,...,208.106912,204.894444,172.237193,173.346333,166.970052,188.933333,189.143571,185.384000,188.860588,127.629310
34,2021-11-01,163.684745,155.806912,205.202323,292.309193,260.271379,245.148461,257.550000,264.407059,300.971429,...,181.725000,180.743200,176.541628,177.987442,181.135833,184.956667,186.780000,233.502500,234.550000,126.064167
35,2021-12-01,168.629803,157.030782,209.029922,310.076667,279.941667,269.151200,NaN,337.365000,313.640000,...,200.703548,200.642143,173.802500,172.663750,172.954561,183.645454,185.477000,195.390000,195.390000,124.870824
36,2022-01-01,165.680939,155.884114,230.654277,277.323962,650.059744,265.360833,264.960909,278.330000,251.865294,...,204.020952,202.001842,172.823333,174.342778,172.970234,198.667857,195.169091,198.592500,208.938000,127.179788
37,2022-02-01,166.437053,159.272829,223.493240,300.247077,265.500000,257.128333,257.450000,279.634231,280.702632,...,220.985000,209.720000,173.815122,174.506585,175.496310,202.450000,202.450000,211.292222,204.988182,130.274244
38,2022-03-01,167.288021,154.418735,225.842500,286.192154,224.751111,209.531522,169.070000,277.588000,172.146956,...,187.776667,182.461250,182.096757,182.022958,178.172370,207.831000,197.295000,241.811111,231.570000,130.590216
39,2022-04-01,159.435066,154.447833,222.435730,251.451707,209.152368,231.824039,193.200000,235.580172,165.960000,...,201.795714,201.864400,189.737162,185.865325,184.183628,210.746429,211.213077,203.574737,204.978750,132.549003
40,2022-05-01,155.374682,142.914131,229.020190,242.956622,181.545062,224.042000,229.140000,223.822105,155.063000,...,192.758868,194.897321,195.488372,198.040476,171.551333,203.772500,200.653846,186.325556,179.018462,150.823878
41,2022-06-01,155.546778,142.044058,229.918194,222.232653,188.983375,203.071970,202.140000,233.020233,169.252857,...,176.945957,176.226596,181.590870,186.526274,175.960722,206.981429,203.180000,180.180000,186.079500,152.387013
42,2022-07-01,153.713322,144.900613,228.811366,212.757884,178.331121,220.290000,209.612500,195.858333,145.442373,...,184.091463,179.791778,182.463448,187.087586,173.766212,197.326190,198.943000,173.892308,174.081739,147.653669
43,2022-08-01,149.019327,146.933378,254.698495,214.033226,177.487302,213.054154,227.926000,233.043871,133.700682,...,160.953265,167.945098,194.347273,188.138254,166.213140,191.917895,198.537222,157.563333,167.730769,154.317910
44,2022-09-01,143.951778,144.041445,218.719792,231.568644,171.831389,215.734872,241.736667,242.234545,149.721482,...,172.732727,172.360465,173.913714,166.140000,176.999669,204.248333,202.837692,172.807273,173.820833,155.760568

In [22]:
y_pivot = df_sku.pivot( index = 'Year_Month',columns='Material', values='Qty')
y_values = pd.DataFrame(y_pivot.to_records())
print(y_values)

   Year_Month  139104  139105  139112  153005  153006  153026  153027  153028  \
0  2019-01-01   869.0  1186.0   136.0     NaN     NaN     NaN     NaN     NaN
1  2019-02-01   967.0  1285.0   153.0     NaN     NaN     NaN     NaN     NaN
2  2019-03-01  1582.0  2275.0   241.0     NaN     NaN     6.0     6.0     NaN
3  2019-04-01  1276.0  2042.0   202.0     NaN     NaN     9.0    32.0     7.0
4  2019-05-01  1149.0  1854.0   229.0     NaN     NaN    11.0    31.0     2.0
5  2019-06-01  1463.0  2405.0   276.0     NaN     NaN    21.0    41.0    16.0
6  2019-07-01  1223.0  2015.0   217.0     NaN     NaN    36.0    29.0    15.0
7  2019-08-01  1499.0  2344.0   297.0     NaN     NaN    52.0    70.0    32.0
8  2019-09-01  1228.0  1801.0   206.0     NaN     NaN    39.0    42.0    25.0
9  2019-10-01  1241.0  1734.0   209.0     NaN     NaN    47.0    43.0    37.0
10 2019-11-01  1385.0  1727.0   235.0     NaN     NaN    34.0    35.0    29.0
11 2019-12-01   887.0  1164.0   175.0     NaN     NaN    32.0    28.0    19.0
12 2020-01-01   927.0  1136.0   194.0     NaN     NaN    19.0    20.0    13.0
13 2020-02-01  1271.0  1715.0   295.0     NaN     NaN    27.0    34.0    18.0
14 2020-03-01   963.0  1521.0   212.0     NaN     NaN    25.0    22.0    19.0
15 2020-04-01   751.0  1507.0   216.0     NaN     NaN    32.0    22.0     9.0
16 2020-05-01  1368.0  2168.0   277.0     NaN     NaN    34.0    34.0    31.0
17 2020-06-01  1382.0  1871.0   259.0     NaN     NaN    48.0    40.0    23.0
18 2020-07-01  1212.0  1869.0   251.0     NaN     NaN    46.0    29.0    31.0
19 2020-08-01  1585.0  2576.0   360.0     NaN     NaN    83.0    73.0    32.0
20 2020-09-01  1179.0  1842.0   271.0     NaN     NaN    83.0    33.0    31.0
21 2020-10-01  1285.0  1968.0   326.0     NaN     NaN    67.0    48.0    31.0
22 2020-11-01   907.0  1697.0   197.0     NaN     NaN    94.0    43.0    27.0
23 2020-12-01   864.0  1400.0   203.0     NaN     NaN    43.0    13.0    26.0
24 2021-01-01  1226.0  1859.0   300.0     NaN     NaN    39.0    26.0    26.0
25 2021-02-01  1041.0  1447.0   221.0     NaN     NaN    23.0     8.0    10.0
26 2021-03-01  1606.0  2317.0   350.0     NaN     NaN    30.0    27.0    42.0
27 2021-04-01  1659.0  2509.0   282.0     NaN     NaN    53.0    43.0    50.0
28 2021-05-01  2060.0  2855.0   340.0     NaN     NaN   115.0    64.0    48.0
29 2021-06-01  1730.0  2153.0   371.0     NaN     NaN    80.0    46.0    29.0
30 2021-07-01  1967.0  2831.0   385.0     NaN     NaN   128.0    66.0    52.0
31 2021-08-01  1519.0  2249.0   309.0     NaN     NaN    82.0    53.0    43.0
32 2021-09-01  1346.0  2188.0   302.0     NaN     NaN    52.0    44.0    30.0
33 2021-10-01  1701.0  2825.0   367.0     NaN     NaN    86.0    51.0    37.0
34 2021-11-01  1176.0  2118.0   297.0     1.0     1.0    62.0    29.0    26.0
35 2021-12-01  1166.0  1842.0   258.0     4.0     4.0    48.0    12.0    25.0
36 2022-01-01  1320.0  2285.0   332.0     8.0    15.0    53.0    39.0    24.0
37 2022-02-01  1405.0  2068.0   250.0     7.0    14.0    65.0    34.0    12.0
38 2022-03-01  1521.0  2300.0   304.0    16.0    12.0    65.0    36.0    46.0
39 2022-04-01  2110.0  3064.0   363.0    28.0    21.0    82.0    76.0    52.0
40 2022-05-01  1920.0  2980.0   263.0    14.0    32.0   148.0    81.0    50.0
41 2022-06-01  1642.0  2644.0   288.0    26.0    11.0   147.0    80.0    66.0
42 2022-07-01  2032.0  2725.0   366.0    31.0    45.0   189.0   116.0    77.0
43 2022-08-01  1635.0  2312.0   299.0    39.0    33.0   155.0    63.0    65.0
44 2022-09-01  1226.0  1723.0   240.0    37.0    40.0   118.0    72.0    39.0

    153029  ...  572665  572888  572889  582665  671377L  671377R  672526  \
0      NaN  ...    92.0     NaN     NaN     NaN      1.0      1.0    25.0
1      NaN  ...   123.0     NaN     NaN     NaN      NaN      NaN    22.0
2      NaN  ...   226.0     1.0     1.0     NaN      2.0      2.0    72.0
3      1.0  ...   123.0     6.0     4.0     NaN      1.0      1.0    41.0
4     12.0  ...   109.0    14.0    11.0     NaN      1.0      1.0    49.0
5      2.0  ...   107.0     5.0     6.0     NaN      2.0      2.0    49.0
6      4.0  ...   105.0     9.0     9.0     NaN      NaN      NaN    35.0
7     18.0  ...   126.0    18.0    13.0     NaN      NaN      NaN    50.0
8      2.0  ...   111.0    18.0    18.0     NaN      NaN      NaN    46.0
9      8.0  ...   125.0    14.0    13.0     NaN      2.0      2.0    30.0
10    24.0  ...   194.0    18.0    20.0     NaN      1.0      1.0    36.0
11     6.0  ...   121.0    13.0    11.0     NaN      2.0      2.0    23.0
12     8.0  ...   160.0     7.0     8.0     NaN      NaN      NaN    27.0
13    14.0  ...   209.0    11.0    12.0     4.0      1.0      1.0    35.0
14     4.0  ...   185.0     9.0     7.0     2.0      NaN      NaN    29.0
15     2.0  ...   141.0     7.0     7.0    12.0      1.0      1.0    20.0
16     4.0  ...   207.0    12.0    11.0     5.0      NaN      NaN    39.0
17     4.0  ...   218.0    17.0    17.0    13.0      2.0      2.0    29.0
18     2.0  ...   149.0    14.0    13.0    12.0      NaN      NaN    22.0
19     9.0  ...   148.0    14.0    12.0    28.0      1.0      1.0    35.0
20     4.0  ...   126.0    13.0    14.0     6.0      NaN      NaN    19.0
21     6.0  ...   209.0    23.0    24.0    14.0      NaN      NaN    35.0
22    12.0  ...   123.0    11.0    12.0    23.0      NaN      NaN    16.0
23     8.0  ...   130.0    10.0    10.0     4.0      NaN      NaN    21.0
24     8.0  ...   231.0    11.0    11.0    14.0      1.0      1.0    24.0
25     5.0  ...   159.0    10.0     9.0    31.0      1.0      1.0    11.0
26     5.0  ...   279.0    20.0    16.0    28.0      NaN      NaN    34.0
27    12.0  ...   259.0    20.0    19.0    23.0      2.0      2.0    19.0
28     8.0  ...   232.0    18.0    19.0    18.0      2.0      2.0    50.0
29     7.0  ...   190.0    17.0    16.0    15.0      NaN      NaN    22.0
30     6.0  ...   177.0    27.0    23.0    17.0      1.0      1.0    35.0
31     8.0  ...   154.0    19.0    19.0    21.0      NaN      NaN    14.0
32     2.0  ...   138.0    14.0    12.0    15.0      NaN      NaN    13.0
33    12.0  ...   193.0    15.0    14.0    19.0      2.0      2.0    20.0
34     2.0  ...   168.0    15.0    15.0     8.0      NaN      NaN     8.0
35     NaN  ...   171.0    11.0    10.0     6.0      NaN      NaN     4.0
36    11.0  ...   214.0    14.0    11.0    17.0      NaN      NaN    12.0
37     8.0  ...   187.0     8.0     8.0    23.0      NaN      NaN     9.0
38     4.0  ...   211.0    10.0    10.0    12.0      NaN      NaN     9.0
39     8.0  ...   226.0    14.0    13.0    34.0      NaN      NaN    19.0
40     4.0  ...   180.0    12.0    13.0    16.0      NaN      NaN     9.0
41     2.0  ...   180.0    14.0    12.0     5.0      NaN      NaN    19.0
42    12.0  ...   198.0    21.0    20.0     1.0      NaN      NaN    26.0
43    20.0  ...   172.0    19.0    18.0     6.0      NaN      NaN    15.0
44    12.0  ...   121.0    12.0    13.0     4.0      NaN      NaN    11.0

    672527  672665  772665
0     27.0   112.0     NaN
1     30.0   115.0     NaN
2     79.0   152.0     NaN
3     38.0   154.0     NaN
4     53.0   147.0     NaN
5     57.0   153.0     NaN
6     39.0   109.0     NaN
7     45.0   121.0     NaN
8     46.0    77.0     NaN
9     37.0   117.0     NaN
10    35.0   181.0     4.0
11    22.0   153.0     6.0
12    29.0   170.0    29.0
13    30.0   240.0    81.0
14    32.0   266.0    25.0
15    21.0   152.0    39.0
16    35.0   220.0   112.0
17    32.0   165.0   107.0
18    24.0   166.0    69.0
19    31.0   152.0    75.0
20    20.0   120.0    69.0
21    35.0   195.0    99.0
22    20.0   182.0    94.0
23    22.0   178.0   134.0
24    27.0   271.0   168.0
25    13.0   167.0   145.0
26    35.0   341.0   109.0
27    23.0   298.0   194.0
28    54.0   296.0   181.0
29    19.0   199.0   118.0
30    37.0   228.0   192.0
31    11.0   192.0   136.0
32    14.0   198.0   164.0
33    17.0   261.0   181.0
34     6.0   216.0   152.0
35     4.0   182.0   179.0
36    10.0   283.0   267.0
37    11.0   172.0   217.0
38    11.0   324.0   275.0
39    16.0   291.0   256.0
40    13.0   196.0   174.0
41    20.0   154.0   173.0
42    23.0   139.0   229.0
43    13.0   134.0   217.0
44    12.0    88.0   130.0

[45 rows x 1067 columns]

In [23]:
percent_missing_y = y_values.isnull().sum() * 100 / len(x_values)
missing_value_df_y = pd.DataFrame({'column_name': y_values.columns,
                                 'percent_missing': percent_missing_y})
missing_value_df_y.sort_values(by=['percent_missing'])

           column_name  percent_missing
Year_Month  Year_Month         0.000000
172780L        172780L         0.000000
172780R        172780R         0.000000
172781          172781         0.000000
172782          172782         0.000000
...                ...              ...
172755          172755        77.777778
281525          281525        80.000000
253006          253006        80.000000
272413          272413        84.444444
181339          181339        97.777778

[1067 rows x 2 columns]

In [24]:
mod_missing_value_df_y=missing_value_df_y[missing_value_df_y.percent_missing<=20]

In [25]:
mod_missing_value_df_y=mod_missing_value_df_y.reset_index(drop=True)
mod_missing_value_df_y['column_name']

0      Year_Month
1          139104
2          139105
3          139112
4          153026
          ...
865        572888
866        572889
867        672526
868        672527
869        672665
Name: column_name, Length: 870, dtype: object

In [26]:
y_values_mod = y_values[y_values.columns[y_values.columns.isin(mod_missing_value_df_y['column_name'].astype('str'))]]
y_values_mod

,Year_Month,139104,139105,139112,153026,153027,153028,153029,153030,153031,...,571377L,571377R,572526,572527,572665,572888,572889,672526,672527,672665
0,2019-01-01,869.0,1186.0,136.0,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,48.0,23.0,21.0,92.0,NaN,NaN,25.0,27.0,112.0
1,2019-02-01,967.0,1285.0,153.0,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,46.0,19.0,15.0,123.0,NaN,NaN,22.0,30.0,115.0
2,2019-03-01,1582.0,2275.0,241.0,6.0,6.0,NaN,NaN,4.0,4.0,...,76.0,82.0,33.0,32.0,226.0,1.0,1.0,72.0,79.0,152.0
3,2019-04-01,1276.0,2042.0,202.0,9.0,32.0,7.0,1.0,9.0,10.0,...,64.0,65.0,17.0,17.0,123.0,6.0,4.0,41.0,38.0,154.0
4,2019-05-01,1149.0,1854.0,229.0,11.0,31.0,2.0,12.0,4.0,6.0,...,67.0,68.0,39.0,40.0,109.0,14.0,11.0,49.0,53.0,147.0
5,2019-06-01,1463.0,2405.0,276.0,21.0,41.0,16.0,2.0,27.0,18.0,...,75.0,78.0,37.0,32.0,107.0,5.0,6.0,49.0,57.0,153.0
6,2019-07-01,1223.0,2015.0,217.0,36.0,29.0,15.0,4.0,19.0,16.0,...,68.0,76.0,30.0,28.0,105.0,9.0,9.0,35.0,39.0,109.0
7,2019-08-01,1499.0,2344.0,297.0,52.0,70.0,32.0,18.0,42.0,26.0,...,76.0,77.0,37.0,39.0,126.0,18.0,13.0,50.0,45.0,121.0
8,2019-09-01,1228.0,1801.0,206.0,39.0,42.0,25.0,2.0,30.0,16.0,...,68.0,65.0,38.0,40.0,111.0,18.0,18.0,46.0,46.0,77.0
9,2019-10-01,1241.0,1734.0,209.0,47.0,43.0,37.0,8.0,24.0,21.0,...,63.0,65.0,37.0,40.0,125.0,14.0,13.0,30.0,37.0,117.0
10,2019-11-01,1385.0,1727.0,235.0,34.0,35.0,29.0,24.0,38.0,17.0,...,62.0,63.0,36.0,33.0,194.0,18.0,20.0,36.0,35.0,181.0
11,2019-12-01,887.0,1164.0,175.0,32.0,28.0,19.0,6.0,14.0,21.0,...,61.0,59.0,32.0,38.0,121.0,13.0,11.0,23.0,22.0,153.0
12,2020-01-01,927.0,1136.0,194.0,19.0,20.0,13.0,8.0,16.0,3.0,...,50.0,48.0,16.0,14.0,160.0,7.0,8.0,27.0,29.0,170.0
13,2020-02-01,1271.0,1715.0,295.0,27.0,34.0,18.0,14.0,18.0,18.0,...,70.0,74.0,42.0,42.0,209.0,11.0,12.0,35.0,30.0,240.0
14,2020-03-01,963.0,1521.0,212.0,25.0,22.0,19.0,4.0,16.0,7.0,...,56.0,54.0,32.0,33.0,185.0,9.0,7.0,29.0,32.0,266.0
15,2020-04-01,751.0,1507.0,216.0,32.0,22.0,9.0,2.0,23.0,4.0,...,54.0,50.0,20.0,17.0,141.0,7.0,7.0,20.0,21.0,152.0
16,2020-05-01,1368.0,2168.0,277.0,34.0,34.0,31.0,4.0,31.0,17.0,...,72.0,71.0,30.0,26.0,207.0,12.0,11.0,39.0,35.0,220.0
17,2020-06-01,1382.0,1871.0,259.0,48.0,40.0,23.0,4.0,43.0,16.0,...,82.0,79.0,30.0,28.0,218.0,17.0,17.0,29.0,32.0,165.0
18,2020-07-01,1212.0,1869.0,251.0,46.0,29.0,31.0,2.0,23.0,15.0,...,63.0,65.0,24.0,26.0,149.0,14.0,13.0,22.0,24.0,166.0
19,2020-08-01,1585.0,2576.0,360.0,83.0,73.0,32.0,9.0,39.0,23.0,...,85.0,80.0,54.0,54.0,148.0,14.0,12.0,35.0,31.0,152.0
20,2020-09-01,1179.0,1842.0,271.0,83.0,33.0,31.0,4.0,34.0,25.0,...,58.0,58.0,39.0,36.0,126.0,13.0,14.0,19.0,20.0,120.0
21,2020-10-01,1285.0,1968.0,326.0,67.0,48.0,31.0,6.0,37.0,17.0,...,87.0,88.0,26.0,31.0,209.0,23.0,24.0,35.0,35.0,195.0
22,2020-11-01,907.0,1697.0,197.0,94.0,43.0,27.0,12.0,19.0,11.0,...,47.0,48.0,24.0,24.0,123.0,11.0,12.0,16.0,20.0,182.0
23,2020-12-01,864.0,1400.0,203.0,43.0,13.0,26.0,8.0,20.0,29.0,...,39.0,39.0,35.0,39.0,130.0,10.0,10.0,21.0,22.0,178.0
24,2021-01-01,1226.0,1859.0,300.0,39.0,26.0,26.0,8.0,32.0,23.0,...,46.0,43.0,37.0,37.0,231.0,11.0,11.0,24.0,27.0,271.0
25,2021-02-01,1041.0,1447.0,221.0,23.0,8.0,10.0,5.0,10.0,20.0,...,54.0,52.0,36.0,31.0,159.0,10.0,9.0,11.0,13.0,167.0
26,2021-03-01,1606.0,2317.0,350.0,30.0,27.0,42.0,5.0,32.0,23.0,...,68.0,67.0,54.0,59.0,279.0,20.0,16.0,34.0,35.0,341.0
27,2021-04-01,1659.0,2509.0,282.0,53.0,43.0,50.0,12.0,25.0,20.0,...,89.0,87.0,61.0,62.0,259.0,20.0,19.0,19.0,23.0,298.0
28,2021-05-01,2060.0,2855.0,340.0,115.0,64.0,48.0,8.0,54.0,23.0,...,65.0,73.0,69.0,78.0,232.0,18.0,19.0,50.0,54.0,296.0
29,2021-06-01,1730.0,2153.0,371.0,80.0,46.0,29.0,7.0,31.0,8.0,...,47.0,51.0,50.0,48.0,190.0,17.0,16.0,22.0,19.0,199.0
30,2021-07-01,1967.0,2831.0,385.0,128.0,66.0,52.0,6.0,63.0,24.0,...,76.0,68.0,65.0,62.0,177.0,27.0,23.0,35.0,37.0,228.0
31,2021-08-01,1519.0,2249.0,309.0,82.0,53.0,43.0,8.0,27.0,31.0,...,55.0,50.0,45.0,45.0,154.0,19.0,19.0,14.0,11.0,192.0
32,2021-09-01,1346.0,2188.0,302.0,52.0,44.0,30.0,2.0,17.0,6.0,...,28.0,24.0,45.0,45.0,138.0,14.0,12.0,13.0,14.0,198.0
33,2021-10-01,1701.0,2825.0,367.0,86.0,51.0,37.0,12.0,13.0,22.0,...,68.0,72.0,57.0,60.0,193.0,15.0,14.0,20.0,17.0,261.0
34,2021-11-01,1176.0,2118.0,297.0,62.0,29.0,26.0,2.0,17.0,7.0,...,28.0,25.0,43.0,43.0,168.0,15.0,15.0,8.0,6.0,216.0
35,2021-12-01,1166.0,1842.0,258.0,48.0,12.0,25.0,NaN,4.0,12.0,...,31.0,28.0,44.0,40.0,171.0,11.0,10.0,4.0,4.0,182.0
36,2022-01-01,1320.0,2285.0,332.0,53.0,39.0,24.0,11.0,11.0,17.0,...,42.0,38.0,51.0,54.0,214.0,14.0,11.0,12.0,10.0,283.0
37,2022-02-01,1405.0,2068.0,250.0,65.0,34.0,12.0,8.0,26.0,19.0,...,20.0,17.0,41.0,41.0,187.0,8.0,8.0,9.0,11.0,172.0
38,2022-03-01,1521.0,2300.0,304.0,65.0,36.0,46.0,4.0,10.0,23.0,...,36.0,32.0,74.0,71.0,211.0,10.0,10.0,9.0,11.0,324.0
39,2022-04-01,2110.0,3064.0,363.0,82.0,76.0,52.0,8.0,58.0,18.0,...,49.0,50.0,74.0,77.0,226.0,14.0,13.0,19.0,16.0,291.0
40,2022-05-01,1920.0,2980.0,263.0,148.0,81.0,50.0,4.0,38.0,40.0,...,53.0,56.0,43.0,42.0,180.0,12.0,13.0,9.0,13.0,196.0
41,2022-06-01,1642.0,2644.0,288.0,147.0,80.0,66.0,2.0,43.0,28.0,...,47.0,47.0,46.0,51.0,180.0,14.0,12.0,19.0,20.0,154.0
42,2022-07-01,2032.0,2725.0,366.0,189.0,116.0,77.0,12.0,78.0,59.0,...,41.0,45.0,58.0,58.0,198.0,21.0,20.0,26.0,23.0,139.0
43,2022-08-01,1635.0,2312.0,299.0,155.0,63.0,65.0,20.0,31.0,44.0,...,49.0,51.0,66.0,63.0,172.0,19.0,18.0,15.0,13.0,134.0
44,2022-09-01,1226.0,1723.0,240.0,118.0,72.0,39.0,12.0,22.0,27.0,...,44.0,43.0,35.0,33.0,121.0,12.0,13.0,11.0,12.0,88.0

In [27]:
results_values_raw = { "name": [], "price_elasticity": [], "price_mean": [],"quantity_mean": [], "intercept": [],  "t_score":[], "slope": [], "coefficient_pvalue" : [], "rsquared" : []}
# results_values_detrended = { "name": [], "price_elasticity": [], "price_mean": [],"quantity_mean": [], "intercept": [],  "t_score":[], "slope": [], "coefficient_pvalue" : [], "rsquared" : []}
results_values_deseasonalized = { "name": [], "price_elasticity": [], "price_mean": [],"quantity_mean": [], "intercept": [],  "t_score":[], "slope": [], "coefficient_pvalue" : [], "rsquared" : []}
results_values_log_raw = { "name": [], "price_elasticity": [], "price_mean": [],"quantity_mean": [], "intercept": [],  "t_score":[], "slope": [], "coefficient_pvalue" : [], "rsquared" : []}
# results_values_log_detrended = { "name": [], "price_elasticity": [], "price_mean": [],"quantity_mean": [], "intercept": [],  "t_score":[], "slope": [], "coefficient_pvalue" : [], "rsquared" : []}
results_values_log_deseasonalized = { "name": [], "price_elasticity": [], "price_mean": [],"quantity_mean": [], "intercept": [],  "t_score":[], "slope": [], "coefficient_pvalue" : [], "rsquared" : []}

In [28]:
# for column in x_values_mod.columns[1:25]:
#     column_points = []
#     for i in range(len(x_values_mod[column])):
#         if not np.isnan(x_values_mod[column][i]) and not np.isnan(y_values_mod[column][i]):
#             # column_points.append((x_values_mod[column][i], y_values_mod[column][i]))
#             column_points.append((column,x_values_mod['Year_Month'][i],x_values_mod[column][i], y_values_mod[column][i]))
#     # df = pd.DataFrame(list(column_points), columns= ['x_value', 'y_value'])
#     df = pd.DataFrame(list(column_points), columns= ['Material','Date','x_value', 'y_value'])
    
#     ## Deseasonalize
#     # df.reset_index(inplace=False)
#     df = df.set_index('Date')
#     df.sort_index(inplace=True)
#     df = df.resample('MS').asfreq().fillna(0)
#     # print(df.index.freq)
#     print(df)
#     res = seasonal_decompose(df.y_value, extrapolate_trend='freq')
#     # df['y_value'] = res.trend
#     df['y_value_deseasonalized'] = df.y_value.values - res.seasonal
#     df = pd.DataFrame(df)
#     # print(df)
#     # sns.lineplot(data = df[['y_value','y_value_deseasonalized']])
#     # plt.title('Deseasonalized Plot')
#     # plt.show()
    
#     # math.log(x)
#     df['log_x_value'] = np.where(df['x_value'] > 0, np.log(df['x_value']) , 0)
#     df['log_y_value'] = np.where(df['y_value'] > 0, np.log(df['y_value']) , 0) 
#     df['log_y_value_deseasonalized'] = np.where(df['y_value_deseasonalized'] > 0, np.log(df['y_value_deseasonalized']) , 0)
#     # df['x_value'] = df['x_value'].apply(lambda x:x if x>=0 else 0) 
#     # df['log_y_value'] = np.log(df['y_value'])
#     # df['log_y_value_deseasonalized'] = np.log(df['y_value_deseasonalized'])
#     print(df)

In [29]:
for column in x_values_mod.columns[1:]:
    column_points = []
    for i in range(len(x_values_mod[column])):
        if not np.isnan(x_values_mod[column][i]) and not np.isnan(y_values_mod[column][i]):
            # column_points.append((x_values_mod[column][i], y_values_mod[column][i]))
            column_points.append((column,x_values_mod['Year_Month'][i],x_values_mod[column][i], y_values_mod[column][i]))
    # df = pd.DataFrame(list(column_points), columns= ['x_value', 'y_value'])
    df = pd.DataFrame(list(column_points), columns= ['Material','Date','x_value', 'y_value'])
    
    ## Deseasonalize
    # df.reset_index(inplace=False)
    df = df.set_index('Date')
    df.sort_index(inplace=True)
    df = df.resample('MS').asfreq().fillna(0)
    # print(df.index.freq)
    # print(df)
    res = seasonal_decompose(df.y_value, extrapolate_trend='freq')
    # df['y_value'] = res.trend
    df['y_value_deseasonalized'] = df.y_value.values - res.seasonal
    df = pd.DataFrame(df)
    # print(df)
    # sns.lineplot(data = df[['y_value','y_value_deseasonalized']])
    # plt.title('Deseasonalized Plot')
    # plt.show()
    
    # math.log(x)
    df['log_x_value'] = np.where(df['x_value'] > 0, np.log(df['x_value']) , 0)
    df['log_y_value'] = np.where(df['y_value'] > 0, np.log(df['y_value']) , 0) 
    df['log_y_value_deseasonalized'] = np.where(df['y_value_deseasonalized'] > 0, np.log(df['y_value_deseasonalized']) , 0)
    # df['x_value'] = df['x_value'].apply(lambda x:x if x>=0 else 0) 
    # df['log_y_value'] = np.log(df['y_value'])
    # df['log_y_value_deseasonalized'] = np.log(df['y_value_deseasonalized'])
    # print(df)


    #Raw Model
    x_value = df['x_value']
    y_value = df['y_value']
    X = sm.add_constant(x_value)
    model = sm.OLS(y_value, X)
    result = model.fit()
    
    #(Null Hypothesis test) Coefficient with a p value less than 0.05
#     if result.f_pvalue < 0.05:
        
    rsquared = result.rsquared
    coefficient_pvalue = result.f_pvalue
    intercept, slope = result.params
    mean_price = np.mean(x_value)
    mean_quantity = np.mean(y_value)
    tintercept, t_score = result.tvalues

    #Price elasticity Formula
    price_elasticity = (slope)*(mean_price/mean_quantity)    

    #Append results into dictionary for dataframe
    results_values_raw["name"].append(column)
    results_values_raw["price_elasticity"].append(price_elasticity)
    results_values_raw["price_mean"].append(mean_price)
    results_values_raw["quantity_mean"].append(mean_quantity)
    results_values_raw["intercept"].append(intercept)
    results_values_raw['t_score'].append(t_score)
    results_values_raw["slope"].append(slope)
    results_values_raw["coefficient_pvalue"].append(coefficient_pvalue)
    results_values_raw["rsquared"].append(rsquared*100)
    
    
    #Deseasonalized Model
    x_value = df['x_value']
    y_value = df['y_value_deseasonalized']
    X = sm.add_constant(x_value)
    model = sm.OLS(y_value, X)
    result = model.fit()
    
    #(Null Hypothesis test) Coefficient with a p value less than 0.05
#     if result.f_pvalue < 0.05:
        
    rsquared = result.rsquared
    coefficient_pvalue = result.f_pvalue
    intercept, slope = result.params
    mean_price = np.mean(x_value)
    mean_quantity = np.mean(y_value)
    tintercept, t_score = result.tvalues

    #Price elasticity Formula
    price_elasticity = (slope)*(mean_price/mean_quantity)    

    #Append results into dictionary for dataframe
    results_values_deseasonalized["name"].append(column)
    results_values_deseasonalized["price_elasticity"].append(price_elasticity)
    results_values_deseasonalized["price_mean"].append(mean_price)
    results_values_deseasonalized["quantity_mean"].append(mean_quantity)
    results_values_deseasonalized["intercept"].append(intercept)
    results_values_deseasonalized['t_score'].append(t_score)
    results_values_deseasonalized["slope"].append(slope)
    results_values_deseasonalized["coefficient_pvalue"].append(coefficient_pvalue)
    results_values_deseasonalized["rsquared"].append(rsquared*100)

   #Log Raw Model
    x_value = df['log_x_value']
    y_value = df['log_y_value']
    X = sm.add_constant(x_value)
    model = sm.OLS(y_value, X)
    result = model.fit()
    
    #(Null Hypothesis test) Coefficient with a p value less than 0.05
#     if result.f_pvalue < 0.05:
        
    rsquared = result.rsquared
    coefficient_pvalue = result.f_pvalue
    intercept, slope = result.params
    mean_price = np.mean(x_value)
    mean_quantity = np.mean(y_value)
    tintercept, t_score = result.tvalues

    #Price elasticity Formula
    price_elasticity = (slope)*(mean_price/mean_quantity)    

    #Append results into dictionary for dataframe
    results_values_log_raw["name"].append(column)
    results_values_log_raw["price_elasticity"].append(price_elasticity)
    results_values_log_raw["price_mean"].append(mean_price)
    results_values_log_raw["quantity_mean"].append(mean_quantity)
    results_values_log_raw["intercept"].append(intercept)
    results_values_log_raw['t_score'].append(t_score)
    results_values_log_raw["slope"].append(slope)
    results_values_log_raw["coefficient_pvalue"].append(coefficient_pvalue)
    results_values_log_raw["rsquared"].append(rsquared*100)
    
    
    #log Deseasonalized Model
    x_value = df['log_x_value']
    y_value = df['log_y_value_deseasonalized']
    X = sm.add_constant(x_value)
    model = sm.OLS(y_value, X)
    result = model.fit()
    
    #(Null Hypothesis test) Coefficient with a p value less than 0.05
#     if result.f_pvalue < 0.05:
        
    rsquared = result.rsquared
    coefficient_pvalue = result.f_pvalue
    intercept, slope = result.params
    mean_price = np.mean(x_value)
    mean_quantity = np.mean(y_value)
    tintercept, t_score = result.tvalues

    #Price elasticity Formula
    price_elasticity = (slope)*(mean_price/mean_quantity)    

    #Append results into dictionary for dataframe
    results_values_log_deseasonalized["name"].append(column)
    results_values_log_deseasonalized["price_elasticity"].append(price_elasticity)
    results_values_log_deseasonalized["price_mean"].append(mean_price)
    results_values_log_deseasonalized["quantity_mean"].append(mean_quantity)
    results_values_log_deseasonalized["intercept"].append(intercept)
    results_values_log_deseasonalized['t_score'].append(t_score)
    results_values_log_deseasonalized["slope"].append(slope)
    results_values_log_deseasonalized["coefficient_pvalue"].append(coefficient_pvalue)
    results_values_log_deseasonalized["rsquared"].append(rsquared*100)
    
df_raw = pd.DataFrame.from_dict(results_values_raw)
df_raw['ID'] = '1-Raw'
df_raw_deseasonalized = pd.DataFrame.from_dict(results_values_deseasonalized)
df_raw_deseasonalized['ID'] = '4-results_values_deseasonalized'
df_raw_log = pd.DataFrame.from_dict(results_values_log_raw)
df_raw_log['ID'] = '3-Log_Raw'
df_raw_deseasonalized_log = pd.DataFrame.from_dict(results_values_log_deseasonalized)
df_raw_deseasonalized_log['ID'] = '2-Log_results_values_deseasonalized'
final_df = pd.concat([df_raw,df_raw_deseasonalized,df_raw_log,df_raw_deseasonalized_log])
# final_df = pd.concat([df_raw])
df_elasticity =final_df[['ID','name','price_elasticity','t_score','coefficient_pvalue','slope','price_mean','quantity_mean','intercept','rsquared']]

C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log

C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log

C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log

C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
C:\Users\Jish\anaconda3\lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log

In [30]:
# for column in x_values_mod.columns[1:]:
#     column_points = []
#     for i in range(len(x_values_mod[column])):
#         if not np.isnan(x_values_mod[column][i]) and not np.isnan(y_values_mod[column][i]):
#             # column_points.append((x_values_mod[column][i], y_values_mod[column][i]))
#             column_points.append((i+1,x_values_mod['Year_Month'][i],x_values_mod[column][i], y_values_mod[column][i]))
#     # df = pd.DataFrame(list(column_points), columns= ['x_value', 'y_value'])
#     df = pd.DataFrame(list(column_points), columns= ['Date_Index','Date','x_value', 'y_value'])
    
#     ## Deseasonalize
#     # df.reset_index(inplace=False)
#     df = df.set_index('Date')
#     df.sort_index(inplace=True)
#     df = df.resample('MS').asfreq().fillna(0)
#     # df.asfreq('MS')
#     print(df.index.freq)
#     print(df)
#     res = seasonal_decompose(df.y_value, extrapolate_trend='freq')
#     # df['y_value'] = res.trend
#     df['y_value_deseasonalized'] = df.y_value.values - res.seasonal
#     df = pd.DataFrame(df)
#     print(df)

In [31]:
final_df.sort_values(by=['rsquared'], ascending=False)

,name,price_elasticity,price_mean,quantity_mean,intercept,t_score,slope,coefficient_pvalue,rsquared,ID
791,273031R,5.053882,180.165516,52.047233,-210.993327,12.142444,1.459994,1.739012e-15,77.420586,4-results_values_deseasonalized
790,273031L,5.193010,180.970740,51.823829,-217.297857,11.826628,1.487101,4.183339e-15,76.485917,4-results_values_deseasonalized
790,273031L,7.535742,5.192644,3.745083,-24.476898,11.721520,5.434993,5.618638e-15,76.163292,3-Log_Raw
791,273031R,7.420807,5.187776,3.742442,-24.029500,11.602405,5.353342,7.862468e-15,75.790442,3-Log_Raw
16,171109,-5.720989,4.983564,3.091201,20.775927,-11.586024,-3.548610,8.235490e-15,75.738556,2-Log_results_values_deseasonalized
...,...,...,...,...,...,...,...,...,...,...
504,172896,0.006546,140.273562,222.456142,220.999921,0.007732,0.010381,9.938668e-01,0.000139,4-results_values_deseasonalized
610,271146,0.002436,115.023190,6.972738,6.955752,0.007014,0.000148,9.944369e-01,0.000117,4-results_values_deseasonalized
232,172214,0.003144,5.236249,3.989498,3.976953,0.004347,0.002396,9.965518e-01,0.000044,3-Log_Raw
692,272401,-0.003940,4.754730,4.154091,4.170459,-0.004248,-0.003443,9.966303e-01,0.000042,3-Log_Raw
272,172285,0.002370,5.151179,4.107684,4.097949,0.003451,0.001890,9.972628e-01,0.000028,2-Log_results_values_deseasonalized

In [32]:
# good=np.where((final_df['rsquared']>=30) & (final_df['ID'].str.contains('1-Raw')))
# good=final_df.query('rsquared>=30 & ID.str.contains("1-Raw")')
good=final_df[final_df['rsquared']>=30]
good.sort_values(by=['rsquared',],ascending=False)

,name,price_elasticity,price_mean,quantity_mean,intercept,t_score,slope,coefficient_pvalue,rsquared,ID
791,273031R,5.053882,180.165516,52.047233,-210.993327,12.142444,1.459994,1.739012e-15,77.420586,4-results_values_deseasonalized
790,273031L,5.193010,180.970740,51.823829,-217.297857,11.826628,1.487101,4.183339e-15,76.485917,4-results_values_deseasonalized
790,273031L,7.535742,5.192644,3.745083,-24.476898,11.721520,5.434993,5.618638e-15,76.163292,3-Log_Raw
791,273031R,7.420807,5.187776,3.742442,-24.029500,11.602405,5.353342,7.862468e-15,75.790442,3-Log_Raw
16,171109,-5.720989,4.983564,3.091201,20.775927,-11.586024,-3.548610,8.235490e-15,75.738556,2-Log_results_values_deseasonalized
...,...,...,...,...,...,...,...,...,...,...
666,272261,-1.894944,4.916428,4.768884,13.805654,-4.322188,-1.838076,8.981123e-05,30.286820,2-Log_results_values_deseasonalized
312,172359,-4.953897,5.313407,2.531929,15.074848,-4.319631,-2.360617,9.053849e-05,30.261842,3-Log_Raw
246,172240,-4.615575,4.954974,4.119611,23.133983,-4.318069,-3.837432,9.098584e-05,30.246573,2-Log_results_values_deseasonalized
785,272971,3.248604,5.222126,3.390983,-7.624979,4.307852,2.109478,9.396441e-05,30.146714,2-Log_results_values_deseasonalized
866,672526,-2.743340,182.678916,26.114104,97.753968,-4.299927,-0.392163,9.634043e-05,30.069215,4-results_values_deseasonalized

In [33]:
len(good)

654

In [34]:
print(final_df.query('rsquared>=30 & name.str.contains("273031L")'))

        name  price_elasticity  price_mean  quantity_mean   intercept  \
790  273031L          5.119335  180.970740      52.222222 -215.120836
790  273031L          5.193010  180.970740      51.823829 -217.297857
790  273031L          7.535742    5.192644       3.745083  -24.476898
790  273031L          8.108039    5.192644       3.715148  -26.407420

       t_score     slope  coefficient_pvalue   rsquared  \
790  10.786586  1.477272        8.249950e-14  73.015447
790  11.826628  1.487101        4.183339e-15  76.485917
790  11.721520  5.434993        5.618638e-15  76.163292
790  10.121562  5.801008        5.974512e-13  70.435766

                                      ID
790                                1-Raw
790      4-results_values_deseasonalized
790                            3-Log_Raw
790  2-Log_results_values_deseasonalized

In [35]:
final_df.to_csv("jay_new_sku.csv")